/*__________mixins__________*/
@font-face {
  font-family: 'helveticaneuecyrroman';
  src: url("/fonts/helveticaneuecyr-roman-webfont.woff") format("woff"), url("/fonts/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*__________adjustment__________*/
/* line 7, ../sass/style.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 12, ../sass/style.scss */
body {
  background: #f0f0f0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1.42;
  font-family: 'helveticaneuecyrroman';
}

/* line 21, ../sass/style.scss */
ul {
  padding: 0;
  margin: 0;
}

/* line 26, ../sass/style.scss */
ul li {
  list-style: none;
}

/* line 30, ../sass/style.scss */
p {
  padding: 0;
  margin: 0;
}

/* line 35, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 39, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 42, ../sass/style.scss */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

/* line 48, ../sass/style.scss */
.footer {
  height: 115px;
  margin-top: -115px;
  position: relative;
}

/* line 54, ../sass/style.scss */
.empty {
  height: 115px;
}

/* line 58, ../sass/style.scss */
.container {
  width: 1170px;
  margin: 0 auto;
}

/*__________header__________*/
/* line 63, ../sass/style.scss */
.header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fb3e38+0,ff8f30+100 */
  background: #fb3e38;
  /* Old browsers */
  background: -moz-linear-gradient(left, #fb3e38 0%, #ff8f30 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #fb3e38 0%, #ff8f30 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #fb3e38 0%, #ff8f30 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb3e38', endColorstr='#ff8f30',GradientType=1 );
  /* IE6-9 */
  margin-bottom: 20px;
}

/* line 73, ../sass/style.scss */
.header__logo, .header__search, .header__menu {
  float: left;
}

/* line 77, ../sass/style.scss */
.header__top:before, .header__top:after {
  display: table;
  content: "";
}

/* line 82, ../sass/style.scss */
.header__top:after {
  clear: both;
}

/* line 86, ../sass/style.scss */
.header__logo {
  width: 25%;
}

/* line 90, ../sass/style.scss */
.header__search {
  width: 40%;
}

/* line 94, ../sass/style.scss */
.header__menu {
  width: 35%;
}

/* line 98, ../sass/style.scss */
.logo {
  display: inline-block;
}

/* line 102, ../sass/style.scss */
.logo__pic {
  display: block;
  max-width: 175px;
  max-height: 55px;
}

/* line 108, ../sass/style.scss */
.search {
  position: relative;
}

/* line 112, ../sass/style.scss */
.search__input {
  padding: 10px 40px 10px 35px;
  background: rgba(255, 255, 255, 0.2);
  border: 0;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #fff;
  outline: none;
  width: 100%;
}
/* line 121, ../sass/style.scss */
.search__input::-webkit-input-placeholder {
  color: #fff;
}
/* line 124, ../sass/style.scss */
.search__input:-moz-placeholder {
  color: #fff;
}
/* line 127, ../sass/style.scss */
.search__input::-moz-placeholder {
  color: #fff;
}
/* line 130, ../sass/style.scss */
.search__input:-ms-input-placeholder {
  color: #fff;
}

/* line 136, ../sass/style.scss */
.search__submit {
  background: url("../img/icons/zoom.png") 0 0 no-repeat;
  width: 18px;
  height: 18px;
  display: block;
  border: none;
  position: absolute;
  right: 18px;
  top: 50%;
  margin-top: -9px;
  padding: 0;
}

/*__________menu__________*/
/* line 151, ../sass/style.scss */
.menu__item {
  display: inline-block;
}

/* line 155, ../sass/style.scss */
.menu {
  text-align: justify;
}
/* line 158, ../sass/style.scss */
.menu:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
}

/* line 166, ../sass/style.scss */
.menu__link {
  display: block;
  padding: 10px;
}

/* line 172, ../sass/style.scss */
.menu__link_iconed {
  padding-right: 20px;
  padding-left: 50px;
  position: relative;
  border: 2px solid #ffaf6a;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

/* line 180, ../sass/style.scss */
.menu__link-text {
  color: #fff;
  font-size: 13px;
}

/* line 185, ../sass/style.scss */
.menu__link-icon {
  position: absolute;
  left: 13px;
  top: 0;
  bottom: 0;
  width: 30px;
}

/* line 193, ../sass/style.scss */
.menu__link-icon-pic {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

/* line 205, ../sass/style.scss */
.header__top {
  padding: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/*__________nav__________*/
/* line 213, ../sass/style.scss */
.nav__list {
  text-align: justify;
}
/* line 216, ../sass/style.scss */
.nav__list:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
}

/* line 224, ../sass/style.scss */
.nav__item {
  display: inline-block;
}

/* line 230, ../sass/style.scss */
.nav__link:hover .nav__title {
  color: #ffc960;
}
/* line 234, ../sass/style.scss */
.nav__link:hover .nav__icon svg * {
  fill: #ffc960;
}

/* line 240, ../sass/style.scss */
.nav__icon, .nav__title {
  display: inline-block;
  vertical-align: middle;
}
/* line 244, ../sass/style.scss */
.nav__icon svg, .nav__title svg {
  height: 100%;
}
/* line 248, ../sass/style.scss */
.nav__icon svg *, .nav__title svg * {
  fill: #fff;
}

/* line 253, ../sass/style.scss */
.nav__title {
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
