/*__________mixins__________*/
@font-face {
  font-family: 'helveticaneuecyrroman';
  src: url("/fonts/helveticaneuecyr-roman-webfont.woff") format("woff"), url("/fonts/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneuecyrlight';
  src: url("/fonts/helveticaneuecyr-light-webfont.woff") format("woff"), url("/fonts/helveticaneuecyr-light-webfont.svg#helveticaneuecyrlight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneuecyrmedium';
  src: url("/fonts/helveticaneuecyr-medium-webfont.woff") format("woff"), url("/fonts/helveticaneuecyr-medium-webfont.svg#helveticaneuecyrmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*__________adjustment__________*/
/* line 7, ../sass/style.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 12, ../sass/style.scss */
body {
  background: #f0f0f0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1.42;
  font-family: 'helveticaneuecyrroman';
}

/* line 21, ../sass/style.scss */
ul {
  padding: 0;
  margin: 0;
}

/* line 26, ../sass/style.scss */
ul li {
  list-style: none;
}

/* line 30, ../sass/style.scss */
p {
  padding: 0;
  margin: 0;
}

/* line 35, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 39, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 42, ../sass/style.scss */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

/* line 48, ../sass/style.scss */
.footer {
  height: 115px;
  margin-top: -115px;
  position: relative;
}

/* line 54, ../sass/style.scss */
.empty {
  height: 115px;
}

/* line 58, ../sass/style.scss */
.container {
  width: 1170px;
  margin: 0 auto;
}

/*__________header__________*/
/* line 63, ../sass/style.scss */
.header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fb3e38+0,ff8f30+100 */
  background: #fb3e38;
  /* Old browsers */
  background: -moz-linear-gradient(left, #fb3e38 0%, #ff8f30 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #fb3e38 0%, #ff8f30 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #fb3e38 0%, #ff8f30 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb3e38', endColorstr='#ff8f30',GradientType=1 );
  /* IE6-9 */
  margin-bottom: 20px;
}

/* line 73, ../sass/style.scss */
.header__logo, .header__search, .header__menu {
  float: left;
}

/* line 77, ../sass/style.scss */
.header__top:before, .header__top:after {
  display: table;
  content: "";
}

/* line 82, ../sass/style.scss */
.header__top:after {
  clear: both;
}

/* line 86, ../sass/style.scss */
.header__logo {
  width: 25%;
}

/* line 90, ../sass/style.scss */
.header__search {
  width: 40%;
}

/* line 94, ../sass/style.scss */
.header__menu {
  width: 35%;
}

/* line 98, ../sass/style.scss */
.logo {
  display: inline-block;
}

/* line 102, ../sass/style.scss */
.logo__pic {
  display: block;
  max-width: 175px;
  max-height: 55px;
}

/* line 108, ../sass/style.scss */
.search {
  position: relative;
}

/* line 112, ../sass/style.scss */
.search__input {
  padding: 10px 40px 10px 35px;
  background: rgba(255, 255, 255, 0.2);
  border: 0;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #fff;
  outline: none;
  width: 100%;
}
/* line 121, ../sass/style.scss */
.search__input::-webkit-input-placeholder {
  color: #fff;
}
/* line 124, ../sass/style.scss */
.search__input:-moz-placeholder {
  color: #fff;
}
/* line 127, ../sass/style.scss */
.search__input::-moz-placeholder {
  color: #fff;
}
/* line 130, ../sass/style.scss */
.search__input:-ms-input-placeholder {
  color: #fff;
}

/* line 136, ../sass/style.scss */
.search__submit {
  background: url("../img/icons/zoom.png") 0 0 no-repeat;
  width: 18px;
  height: 18px;
  display: block;
  border: none;
  position: absolute;
  right: 18px;
  top: 50%;
  margin-top: -9px;
  padding: 0;
}

/*__________menu__________*/
/* line 151, ../sass/style.scss */
.menu__item {
  display: inline-block;
}

/* line 155, ../sass/style.scss */
.menu {
  text-align: justify;
}
/* line 158, ../sass/style.scss */
.menu:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
}

/* line 166, ../sass/style.scss */
.menu__link {
  display: block;
  padding: 10px;
}

/* line 172, ../sass/style.scss */
.menu__link_iconed {
  padding-right: 20px;
  padding-left: 50px;
  position: relative;
  border: 2px solid #ffaf6a;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

/* line 180, ../sass/style.scss */
.menu__link-text {
  color: #fff;
  font-size: 13px;
}

/* line 185, ../sass/style.scss */
.menu__link-icon {
  position: absolute;
  left: 13px;
  top: 0;
  bottom: 0;
  width: 30px;
}

/* line 193, ../sass/style.scss */
.menu__link-icon-pic {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

/* line 205, ../sass/style.scss */
.header__top {
  padding-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/*__________nav__________*/
/* line 213, ../sass/style.scss */
.nav__list {
  text-align: justify;
}
/* line 216, ../sass/style.scss */
.nav__list:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
}

/* line 224, ../sass/style.scss */
.nav__item {
  display: inline-block;
}

/* line 230, ../sass/style.scss */
.nav__link:hover .nav__title {
  color: #ffc960;
}
/* line 234, ../sass/style.scss */
.nav__link:hover .nav__icon svg * {
  fill: #ffc960;
}

/* line 240, ../sass/style.scss */
.nav__icon, .nav__title {
  display: inline-block;
  vertical-align: middle;
}
/* line 244, ../sass/style.scss */
.nav__icon svg, .nav__title svg {
  height: 100%;
}
/* line 248, ../sass/style.scss */
.nav__icon svg *, .nav__title svg * {
  fill: #fff;
}

/* line 253, ../sass/style.scss */
.nav__title {
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}

/*__________breadcrumbs__________*/
/* line 262, ../sass/style.scss */
.breadcrumbs__item {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
/* line 267, ../sass/style.scss */
.breadcrumbs__item:first-child {
  margin-left: 0px;
}
/* line 271, ../sass/style.scss */
.breadcrumbs__item:first-child .breadcrumbs__link:before {
  display: none;
}

/* line 278, ../sass/style.scss */
.breadcrumbs__link {
  font-size: 12px;
  color: #fa3f37;
  vertical-align: middle;
}
/* line 283, ../sass/style.scss */
.breadcrumbs__link:before {
  content: "";
  display: inline-block;
  background: url("../img/decor/arrow.png") 0 0 no-repeat;
  width: 16px;
  height: 7px;
  margin-right: 15px;
  vertical-align: middle;
}

/* line 294, ../sass/style.scss */
.title {
  font-family: 'helveticaneuecyrlight';
  font-size: 24px;
  color: #2e2e2e;
  margin-top: 0;
  font-weight: normal;
}

/*__________content__________*/
/* line 305, ../sass/style.scss */
.content__wrapper .container {
  background: #fff;
}
/* line 12, ../sass/_mixins.scss */
.content__wrapper .container:before, .content__wrapper .container:after {
  content: "";
  display: table;
}
/* line 18, ../sass/_mixins.scss */
.content__wrapper .container:after {
  clear: both;
}

/* line 311, ../sass/style.scss */
.sidebar {
  float: left;
  width: 25%;
}

/* line 316, ../sass/style.scss */
.content {
  float: left;
  width: 75%;
  border-left: 1px solid #e7e7e7;
}

/* line 322, ../sass/style.scss */
.products__item {
  position: relative;
  border-bottom: 1px solid #e7e7e7;
}
/* line 12, ../sass/_mixins.scss */
.products__item:before, .products__item:after {
  content: "";
  display: table;
}
/* line 18, ../sass/_mixins.scss */
.products__item:after {
  clear: both;
}

/* line 328, ../sass/style.scss */
.products__slideshow {
  float: left;
  width: 30%;
  padding: 25px;
}

/* line 334, ../sass/style.scss */
.slideshow__display {
  height: 235px;
  position: relative;
}

/* line 339, ../sass/style.scss */
.slideshow__display-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 95%;
  max-height: 95%;
}

/* line 350, ../sass/style.scss */
.products__desc {
  float: left;
  width: 45%;
}
/* line 353, ../sass/style.scss */
.products__desc:before {
  content: "";
  display: block;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 1px;
  background: #e7e7e7;
  left: 30%;
}

/* line 365, ../sass/style.scss */
.products__price {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 25%;
  padding: 20px;
}

/* line 12, ../sass/_mixins.scss */
.slideshow__thumbs:before, .slideshow__thumbs:after {
  content: "";
  display: table;
}
/* line 18, ../sass/_mixins.scss */
.slideshow__thumbs:after {
  clear: both;
}

/* line 378, ../sass/style.scss */
.slideshow__thumbs-item {
  width: 25%;
  float: left;
}

/* line 383, ../sass/style.scss */
.slideshow__thumbs-link {
  display: block;
  height: 54px;
  position: relative;
}
/* line 388, ../sass/style.scss */
.slideshow__thumbs-link img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

/* line 401, ../sass/style.scss */
.products__title {
  margin-top: 0;
  font-weight: normal;
  margin-bottom: 25px;
}

/* line 407, ../sass/style.scss */
.products__desc {
  padding: 40px 25px;
}

/* line 411, ../sass/style.scss */
.products__desc-content {
  font-size: 14px;
  color: #676767;
}
/* line 415, ../sass/style.scss */
.products__desc-content li {
  margin-bottom: 10px;
}

/* line 420, ../sass/style.scss */
.products__price-inner {
  border: 1px solid #e7e7e7;
  height: 100%;
  position: relative;
  padding: 20px;
}

/* line 427, ../sass/style.scss */
.products__buy {
  position: absolute;
  bottom: 0;
  left: 20px;
  display: block;
  padding: 10px 40px;
  background: #ff8e2f;
  color: #fff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

/*__________categories__________*/
/* line 440, ../sass/style.scss */
.categories__item {
  border-bottom: 1px solid #e7e7e7;
  position: relative;
}

/* line 445, ../sass/style.scss */
.categories__link {
  display: block;
  padding: 10px 20px;
  padding-right: 50px;
  font-size: 0;
}

/* line 452, ../sass/style.scss */
.categories__icon {
  display: inline-block;
  vertical-align: middle;
  width: 10%;
}

/* line 458, ../sass/style.scss */
.categories__text {
  display: inline-block;
  vertical-align: middle;
  width: 90%;
  font-size: 14px;
  padding-left: 20px;
}

/* line 466, ../sass/style.scss */
.categories__amount {
  position: absolute;
  font-size: 14px;
  line-height: 16px;
  top: 50%;
  margin-top: -8px;
  right: 10px;
}

/*__________pagination__________*/
/* line 477, ../sass/style.scss */
.pagination {
  text-align: center;
}
/* line 480, ../sass/style.scss */
.pagination .container {
  background: #fff;
  padding: 30px 0;
}

/* line 486, ../sass/style.scss */
.pagination__control, .pagination__list {
  display: inline-block;
  vertical-align: middle;
}

/* line 491, ../sass/style.scss */
.pagination__item {
  display: inline-block;
  vertical-align: middle;
}

/* line 496, ../sass/style.scss */
.pagination__list {
  margin: 0 26px;
}

/* line 500, ../sass/style.scss */
.pagination__link {
  width: 40px;
  text-align: center;
  display: block;
}
/* line 505, ../sass/style.scss */
.pagination__link:hover {
  color: #ff8f30;
}

/* line 512, ../sass/style.scss */
.footer .container {
  padding-top: 15px;
  text-align: center;
}
