@font-face {
	font-family: 'helveticaneuecyrroman';
	src: url('/fonts/helveticaneuecyr-roman-webfont.woff') format('woff'),
	url('/fonts/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman') format('svg');
	font-weight: normal;
	font-style: normal;
}
